/*Start global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 11px;
    color: #eeeeee;
}

img {
    width: 200px;
    height: auto;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

p {
    font-size: 1.7em;
    font-weight: 290;
}


/*End global*/


/*Start reusable*/

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-top: 10rem;
}

.section-heading h1 {
    font-size: 3rem;
    color: #fff 0.3;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff 0.75;
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5px;
    border-radius: 100%;
    bottom: 1rem;
}

.section-heading h6 {
    font-size: 1.7rem;
    font-weight: 300;
}


/*End reusable*/


/*Start header*/

header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2em;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #FF416C, #FF4B2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: all 0.5s;
    transition-duration: ease-in-out;
}

.menu-toggler.open {
    transform: rotate(-540deg);
}

.bar {
    background: linear-gradient(to right, #43cea2, #185a9d);
    width: 100%;
    height: 4px;
    border-radius: 0.9rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

open.bar.start {
    transform: rotate(-180deg) translateX(0.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

open.bar.end {
    transform: rotate(-180deg) translateX(-0.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 8rem;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to top, #fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2.5rem;
    font-weight: 350;
}


/*End header*/


/*Start about*/

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 7rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: 0.25;
}

.about-heading h6 {
    font-size: 3rem;
    font-weight: 250;
}

.profile-img {
    flex: 1;
    margin-right: 7rem;
}

.profile-img img {
    width: 100%;
    height: auto;
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 7rem;
    transition: color 650ms;
}

.fa-facebook-square:hover {
    color: #4267b2;
}

.fa-twitter-square:hover {
    color: #38a1f3;
}

.fa-github-square:hover {
    color: #000;
}


/*End about*/


/*Start services*/

.my-skills {
    margin-top: 10rem;
}


/*End services*/


/*Start portfolio*/


/*End services*/


/*Start timeline*/


/*End timeline*/


/*Start contact*/


/*End contact*/


/*Start footer*/


/*End footer*/


/*Start animations*/


/*End animations*/


/*Start media queries*/


/*End media queries*/